footer
  width: 100%
  display: flex
  justify-content: space-around
  align-items: center
  height: 70px
  background: #fafafa
  bottom: 0
  left: 0
  a
    color: #9B9B9B
    font-size: 40px
    &:hover
      color: lighter-red