.help
  header
    background: main-red

.help-card
  width: calc(100% - 30px)
  margin: 15px
  background: #fff

.beside
  display: block
  padding: 5px
  p
    display: inline-block
    width: 60%
    float: right
    margin-top: 5px
  .character
    display: inline-block
    float: left;
    margin: -5px 0px 15px -5px
    // width: 50%

.xp-bar-img
  width: 100%

.locked-img
  width: 30%
  display: inline-block

.xpBar-Wrap
  p
    padding: 10px