.map-route
  header.charHead .other-char
    margin-top: -10px

#map
  width: 100vw
  height: calc(100vh - 80px - 70px - 50px)

.point-added
  height: 50px
  padding: 10px
  background: darker-red
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  color: white
  p
    margin: 0
    color: rgba(255,255,255,0.95)