body
  margin: 0
  padding: 0
  max-width: 100vw
  overflow-x: hidden;

html
  overflow-x: hidden
  max-width: 100vw

button
  outline: none
  border: none
  &:focus
    outline: none
    border: none

.container-fluid
  margin: 0
  padding: 0

.col-xs-12
  margin: 0
  padding: 0

input:focus, input[type="checkbox"]:focus
  outline: none
  border: none

.col-xs-10 
  margin-bottom: 30px

a:focus
  outline: none
  text-decoration: none
  color: white