.settings
  .row
    .col-xs-12
      form
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        padding: 30px
        margin: 10px
        margin-bottom: 80px

.group
  display: block
  width: calc(100% - 60px)
  label
    width: 100%
    display: block
  input
    width: 100%
    display: block
    border none
    height: 30px
    padding: 6px
  &.switcherino
    display: flex
    justify-content: space-between
    align-items: center
    margin: 10px 0px
    label
      width: calc(100% - 70px)
      display: inline-block
      &.switch
        width: 60px
        display: inline-block
    