.skip
  background: #fafafa
  header
    background: main-red
  a
    width: 100%
    display: block
    text-align: center
    box-shadow: 0px 1px 1px -1px rgba(black, .2)
    margin-bottom: 5px
    padding: 10px
    background: main-red
    color: white
  p
    padding: 14px