button 
  font-family: body-font
  font-size: 20px
  font-weight: 300
  text-align: center

h1, h2, h3, h4, h5, h6
  font-family: header-font

h1
  font-size: h1-fsize
  color: f-color
  text-align: center

h2
  font-size: h2-fsize
  color: f-color
  text-align: center

h3
  font-size: h3-fsize
  color: f-color
  text-align: center

p
  color: #333333
  font-family: body-font
  font-size: p-fsize
  line-height: 16px