main-background = #fafafa
main-red = #d50000
lighter-red = #ff5131
darker-red = #9b0000
f-color = #333333;
header-font = 'Oswald', sans-serif
body-font = 'Roboto', sans-serif
p-fsize = 14px
h1-fsize = 24px
h2-fsize = 21px
h3-fsize = 19px