@import 'parts/_reset'
@import 'parts/_variables'
@import 'parts/_layout'
@import 'parts/_typography'
@import 'parts/_forms'
@import 'parts/_nav'
@import 'parts/_footer'
@import 'parts/_location'
@import 'parts/_customize'
@import 'parts/_notification'
@import 'parts/_highscores'
@import 'parts/_pagination'
@import 'parts/_map'
@import 'parts/_scan'
@import 'parts/_point'
@import 'parts/_setting'
@import 'parts/_xp'
@import 'parts/_addPoint'
@import 'parts/_help'
@import 'parts/_skip'